module.exports = {
    apiKey: "fake",
    authDomain: "fake.firebaseapp.com",
    databaseURL: "https://fake.firebaseio.com",
    projectId: "fake",
    storageBucket: "fake.appspot.com",
    messagingSenderId: "123456",
    appId: "1:123456789012:web:123456789123",
    measurementId: "G-ABCDEFG",
};
